* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  outline: none;
  list-style: none;
}

:root {
  --match: #4caf50;
  --notMatch: #E53935;
  --notPlaced: #FFA726;
}

::selection {
  background-color: transparent;
}

body {
  height: 100vh;
  background-color: #f5f5f5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  position: relative;
  overflow: hidden;

}

.container {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.game {
  display: flex;
  flex-direction: column;
  gap: 2px;
  height: fit-content;


}

.game .line {
  display: flex;
  gap: 2px;
}

.game .line .letter {
  display: flex;
  width: 65px;
  height: 65px;
  justify-content: center;
  align-items: center;
  font-size: 3em !important;
  text-transform: uppercase;
  font-weight: 500;
  color: #393E4C;
  transition: 0.25s ease-in-out;
  backface-visibility: hidden;
  background-color: #999999bd;
}

body.dark .letter {
  transition: 0.25s ease-in-out;
  color: #fafafa !important;
}

/* keayboard */
.keyboard {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  max-width: 500px;
}

.row {
  display: flex;
}

.row-button {
  align-items: center;
  background-color: #9999999c;
  color: #616161 !important;
  cursor: pointer;
  user-select: none;
  display: flex;
  flex: 1 1;
  font-size: 17px !important;
  font-weight: 700;
  justify-content: center;
  margin: 1px;
  min-height: 46px;
  min-width: 48px;
  padding: 1px;
  text-transform: capitalize;
  transition: .2s;
}

.row-button:hover {
  background-color: #afb2bb;
}

body.dark .row-button {
  color: #fafafa !important;
}

.enter,
.clear {
  flex: 2 1;
}

.match,
.noMatch,
.notPlaced {
  color: #fff !important;
  transform: rotateX(360deg);
}

.match {
  background-color: var(--match) !important;
}

.noMatch {
  background-color: var(--notMatch) !important;
}

.notPlaced {
  background-color: var(--notPlaced) !important;
}

@media (max-width: 767px) {
  .keyboard {
    display: flex;
    width: 100%;
  }


}

.hamburger {
  background-color: transparent !important;
  position: absolute !important;
  top: 20px;
  right: 20px;
  width: 40px !important;
  height: 30px !important;
  z-index: 20;
}

body.dark .hamburger .line {
  transition: 0.25s;
  background-color: #fafafa !important;
}

.settings-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #eee;
  z-index: 5;
  transform: translateY(-100%);
  transition: .2s ease-in-out;
  display: flex;
  justify-content: center;

}

body.dark .settings-overlay {
  background-color: #333 !important;
  transition: 0.25s;
  color: #fafafa !important;
}

.settings-overlay[open] {
  /* background-color: #4caf50; */
  transform: translateY(0%);
}

.settings-box {
  width: 500px;
  margin-top: 120px;
}

.settings-box h1 {
  text-align: center;
  margin-bottom: 60px;
  font-size: 4em;
  color: #333;
}

body.dark .settings-box h1 {
  transition: 0.25s;
  color: #fafafa !important;
}

.settings-box .set {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 15px 0;
  color: #333;
}

.settings-box h2 {
  font-size: 1.8em;
  color: #333;
}

body.dark .settings-box h2 {
  transition: 0.25s;
  color: #fafafa !important;
}

.settings-box .level-list {
  display: flex;
  gap: 10px;
  font-size: 25px;
}

.settings-box .level-list li {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

body.dark .settings-box .level-list li {
  color: #fff !important;
}

.settings-box .level-list li.level {
  background-color: #4caf50;
  color: #fff;
  border-radius: 50%;
}

/* toggle button */
#toggle {

  width: 60px !important;
  height: 30px !important;
  border-radius: 70px !important;

}

#toggle.active {
  background: #4caf4f !important;
  /* box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
    inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.05); */
}

#toggle .indicator {

  width: 30px !important;
  height: 30px !important;
  background: #fff !important;
  transform: scale(0.8) !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1),
    inset 0 1px 1px rgba(255, 255, 255, 1),
    inset 0 -1px 1px rgba(255, 255, 255, 1) !important;
}

#toggle.active .indicator {
  left: 30px !important;
}